<IfModule mod_ssl.c>
  <VirtualHost *:443>
    ServerAdmin www@{{ ansible_host }}

    DocumentRoot /var/www/{{ ansible_host }}

    LogLevel warn

    ErrorLog ${APACHE_LOG_DIR}/{{ ansible_host }}/error.log
    CustomLog ${APACHE_LOG_DIR}/{{ ansible_host }}/access.log combined

    SSLEngine on

    SSLCertificateFile /etc/apache2/ssl/{{ ansible_host }}.pem
    SSLCertificateKeyFile /etc/apache2/ssl/{{ ansible_host }}.key

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
      SSLOptions +StdEnvVars
    </FilesMatch>

    <Directory /usr/lib/cgi-bin>
      SSLOptions +StdEnvVars
    </Directory>

    <Directory /var/www/{{ ansible_host }}>
      Options -Indexes +FollowSymLinks +Multiviews
      AllowOverride All
      Require all granted
    </Directory>

  </VirtualHost>
</IfModule>

